@import '../../base-styles';

#container {
  display: flex;
  align-items: center;
  padding: 8px;
  background: white;
  box-shadow: inset 0 -1px 0 0 $colour-light-grey;
  .icon {
    width: 80px;
    height: 52px;
    display: inline-block;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 4px 4px 0 $colour-light-grey;
  }
  .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    h2 {
      @include font-header-2(600);
    }
    p {
      @include font-small-1;
      span {
        font-weight: bold;
        margin-left: 16px;
        color: $colour-grey;
      }
    }
    .genres {
      display: flex;
      margin-top: 4px;
      > span {
        padding: 2px;
        border-radius: 2px;
        background-color: $colour-purple;
        @include font-small-2(bold);
        font-size: 10px;
        text-transform: uppercase;
        margin-right: 4px;
        color: white;
      }
    }
  }
}
