@mixin font-normal($weight: normal) {
  font-size: 16px;
  font-weight: $weight;
  color: $colour-text-primary;
}

@mixin font-header($weight: normal) {
  font-size: 24px;
  font-weight: $weight;
  color: $colour-text-primary;
}

@mixin font-header-2($weight: normal) {
  font-size: 20px;
  font-weight: $weight;
  color: $colour-text-primary;
}

@mixin font-header-3($weight: normal) {
  font-size: 18px;
  font-weight: $weight;
  color: $colour-text-primary;
}
