@import '../../base';

#container {
  display: flex;
  align-items: center;
  border: solid 2px $colour-light-grey;
  border-radius: 4px;
  height: 40px;
  padding: 8px;
  @include base-transition(0.2s);
  .icon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 8px;
    @include base-transition(0.2s);
  }
  input {
    @include font-normal;
    -webkit-appearance: none;
    border: none;
    outline: none;
    margin: 0;
  }

  &.focused {
    border-color: $colour-purple;
    .icon {
      fill: $colour-purple;
    }
  }
}
