<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SpotMyBands</title>
  <meta name="description" content="Spot the bands you listen to, the easy way.">
  <meta name="author" content="Nick Phillips">
  {% load staticfiles %}
  <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>
  <div id="app-root"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ appData.GoogleMapsAPIKey }}"></script>
  <script src="/static/built/main-app.chunk.js"></script>
  <script type="text/javascript">
  var appData = {{ appData | safe }}
  var csrfToken = '{{ csrf_token }}'
  </script>
</body>
</html>
