@import 'base-styles';

#container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    margin-bottom: 24px;
    a {
      text-decoration: none;
      color: $colour-purple;
    }
  }
  .spotify {
    width: 200px;
  }
  .songkick {
    width: 200px;
  }
}
