@import 'base-styles';

#container {
  margin-top: 24px;
  h1 {
    @include font-header;
    margin-bottom: 24px;
  }
  .actions {
    display: flex;
    margin-bottom: 24px;
    .button {
      height: 40px;
      margin-left: 16px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .artistsContainer {
    width: 100%;
    height: calc(100vh - 156px);
    background-color: $colour-lighter-grey;
    border: solid 1px $colour-light-grey;
    > p {
      padding: 8px;
      width: 100%;
      text-align: center;
    }
  }
}
