@import "base-styles";

#container {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 24px;
    font-weight: normal;
    color: #191923;
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 24px;
    a {
      text-decoration: none;
      color: $colour-purple;
    }
  }
  .spotify {
    width: 200px;
    margin-right: 16px;
  }
  .songkick {
    margin: 12px 0 0 0;
    width: 200px;
  }
}
