@import "base-styles";

.container {
  width: 50%;
  height: calc(100vh - 4px);
}

.marker {
  position: relative;
  .icon {
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
  }
  .infoBox {
    display: block;
    position: absolute;
    bottom: 44px;
    width: 400px;
    height: 175px;
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    border: solid 3px $colour-purple;
    transform: translateX(-48%);
    z-index: index($zIndex, infobox);
    .close {
      outline: none;
      border: none;
      -webkit-appearance: none;
      background: none;
      padding: 0;
      margin-left: -5px;
    }
    a {
      color: $colour-purple;
    }
  }
}
