.container {
  width: 50%;
  height: calc(100vh - 4px);
}

.marker {
  position: relative;
  .icon {
    width: 24px;
    height: 24px;
  }
  .infoBox {
    display: block;
    position: absolute;
    bottom: 60px;
    width: 400px;
    height: 175px;
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    transform: translateX(-50%);
    .closeButton {
      outline: none;
      border:none;
      -webkit-appearance: none;
      background: none;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
